
body{
    margin: 0;
    font-family:'Roboto';
    font-size: 20px;
    line-height: 1.6;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */  
}

a {
    color: inherit;
    text-decoration: none;
}

div{
    display: inline-block;
}

.red{color:#CC999D; transition: color 0.1s, font-weight 0.1s;}
.red:hover{font-weight: bold; color:#FF3F4F}
.redsolid{color:#FF3F4F}
.green{color:#99CCB6; transition: color 0.1s, font-weight 0.1s;}
.green:hover{font-weight: bold; color:#3FFFAC;}
.greensolid{color:#3FFFAC;}
.blue{color:#99BFCC; transition: color 0.1s, font-weight 0.1s;}
.blue:hover{font-weight: bold; color:#3FCCFF;}
.bluesolid{color:#3FCCFF;}
.yellow{color:#CCCC99; transition: color 0.1s, font-weight 0.1s;}
.yellow:hover{font-weight: bold; color:#FFFF3F;}
.yellowsolid{color:#FFFF3F;}
.geg{color:#FF0065; transition: font-weight 0.1s;}
.geg:hover{font-weight: bold;}
.gegsolid{color:#FF0065;}


.framered{
    color: #CC999D;
    border: #F4F4F4;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s, color 0.3s;
    width: 100%;
}
.framered:hover{box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2); color:#FF3F4F;}
.framegreen{
    color: #99CCB6;
    border: #F4F4F4;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s, color 0.3s;
    width: 100%;
}
.framegreen:hover{box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2); color:#3FFFAC;}
.frameblue{
    color: #99BFCC;
    border: #F4F4F4;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s, color 0.3s;
    width: 100%;
}
.frameblue:hover{box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2); color:#3FCCFF;}
.frameyellow{
    color: #C7CC99;
    border: #F4F4F4;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s, color 0.3s;
    width: 100%;
}
.frameyellow:hover{box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2); color:#EFFF3F;}

.framepink{
    color: #FFBFD8;
    border: #F4F4F4;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s, color 0.3s;
    width: 100%;
}
.framepink:hover{box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.2); color: #FF0065;}

.frameinvisible{
    border: #FFFFFF00;
    border-style: solid;
    border-radius: 15px;
    border-width: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
    width: 100%;
}



.frametext{
    color: #333;
    font-weight: lighter;
}

.titlebar{
    background-color:#333;
    position: fixed;
    width: 100%;
    padding: 14px;
    margin-right: -4px;
    text-align: left;
}

.content
{
    margin: 0 auto;
    width: 90%;
    margin-top: 96px;
    color: #333;
    font-weight: lighter;
    text-align: left;
    margin-right: 50px;
    margin-left: 20px;
    margin-bottom: 48px;
}